.page-container .logo {
    margin: 10px auto;
    width: 70%;
    display: block;
}
.page-container .logo img{ 
    width: 50px;
    float: left;
    margin-left: 10px;
}
.page-container .logo h2{ 
    float: left;
    margin-left: 10px
}
code {
    background-color: #d4d2ce;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    margin: 0 0.1em;
}

h2.posted-date {
    margin: 0;
    font-size: 1em
}

h1.post-title {
    margin-bottom: 0;
}
.content header h2 {
    margin-bottom: 0;
}
.content p.muted {
    margin-top: 5px;
    font-size: 1em
}