.page-container .logo {
    margin: 10px auto;
    width: 70%;
    display: block;
}
.page-container .logo img{ 
    width: 50px;
    float: left;
    margin-left: 10px;
}
.page-container .logo h2{ 
    float: left;
    margin-left: 10px
}
code {
    background-color: #F8E7CF;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 0.2em 0.5em;
    margin: 0 0.1em;
}
p {
	line-height: 22px
}