<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
  <!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
  <!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
  <!--[if IE 9 ]><html class="no-js ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->

<html>
<head>
    {{ partial "head.html" . }}
</head>
<body>
	<div class="page-container container-fluid">
       <div class="col-md-3 menu">
           {{ partial "menu.html" . }}
       </div>
      <div class="col-md-9 content">